/* 
    Created on : 02/10/2021
    Author     : Alberto Fernandez Ramirez
   
*/
/*test @import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);*/
@font-face {font-family: "Gotham-Medium";
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot"); /* IE9*/
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
                url("3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham-Medium") format("svg"); /* iOS 4.1- */
}
*{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
body{
    font-family:calibri, arial, sans-serif;
    background-repeat:no-repeat;
    background-attachment:fixed;
    position:relative;
    background-color:#EEEEEE;
    height: 100%;
}
/* INICIO Titulo*/
.titulopagina{
    font-family: "Gotham-Medium";
    font-size:19px;
    text-align:center;
    background-color:#D90000;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    text-transform:uppercase;
}
/* FIN Titulo */

/* INICIO subtitulo */
.segundot{
    font-family: "Gotham-Medium";
    font-size:17px;
    text-transform:uppercase;
    text-align:center;
    background-color:#252525;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
}
/* FIN subtitulo */

/* IMAGENES */
.imagegithub{
    margin-right:5px;
    float: right;
    width: 43px;
    height: 43px;
}
.imageatras{
    margin-left:5px;
    float: left;
    width: 43px;
    height: 43px;
}
.cajaimagen{
    width: 33px;
    height: 43px;
}
.cajaseparacion{
    width: 10px;
    height: 43px;
}
.muestraconfig{
    margin-right: 3px;
    float: right;
    width: 40px;
    height: 40px;
    opacity: 0;
}

/* FIN IMAGENES */

/* INICIO footer */
.piepagina{
    font-family: "Gotham-Medium";
    font-size: 14px;
    background-color:#DDDDDD;
    position: fixed;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    right: 0px;
    left: 0px;
}
.piepagina p{
    color:#33333D;
    text-align:center;
    margin-left: 31px;
}
.piepagina p:first-of-type{
    margin-top: 6px;
}
/* FIN footer */

/* Index ProyectoLoginLogout */
.containerIndex{
    position: relative;
    height: auto;
    width: 100%;
}

.formularioIndex{
    width: 700px;
    height: auto;
    margin: auto;
}
.iniciarsesion{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
.iniciarsesion:hover{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: white;
    color: #252525;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
.registrarsepublico{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
.registrarsepublico:hover{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: white;
    color: #252525;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
.idiomaseleccionado{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    margin-left: 215px;
    font-weight: bold; 
}
.salir{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
}
.iniciarsesion:hover{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: white;
    color: #252525;
    text-transform: uppercase;
    margin-left: 215px;
    cursor: pointer;
    font-weight: bold;
}
.formularioIdioma{
    display: flex;
    justify-content: flex-end;
}
button{
    border: 0;
    width: 50px;
    height: 35px;
    margin: 5px;
}
